/* Хэдер */

.header {
  min-height: 64px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2%;
  box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12);
}

.header__menu-item {
  background-color: transparent;
  border: none;
  color: grey;
  padding: 15px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
}

.header__menu-item:focus {
  outline: transparent;
  color: #FFC617;
}

.header__menu-item:hover {
  color: #FFC617;
}

/* Белый блок на карте */

.block {
  background-color: #fff;
  position: absolute;
  top: 25%;
  left: 2%;
  padding: 50px;
  max-width: 20%;
  border-radius: 4px;
  box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);
}

.block__text-header {
  font-size: 35px;
  font-weight: 500;
  margin-bottom: 30px;
}

.block__text-content {
  margin-bottom: 30px;
}

/* Страница логина */

.login {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

/* Кнопки */

.button {
  display: flex;
  align-items: flex-end;
  margin-bottom: 30px;
  background-color: #ffc617;
  min-width: 64px;
  border-radius: 4px;
  padding: 6px 16px;
  border-color: transparent;
  cursor: pointer;
}

.map-btn {
  margin-left: 5%;
}

.button:focus {
  outline: transparent;
}

.button:hover {
  background-color: grey;
  color: #ffffff;
}


/* Форма */

.form {
  min-height: 64px;
  max-width: 50%;
  background-color: white;
  margin: 0;
  border-radius: 4px;
  padding: 2%;
  box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12);
}

.form__header {
  font-size: 35px;
  font-weight: 500;
  margin-bottom: 30px;
}

.profile {
  margin: 0;
}

.form__content {
  display: flex;
  margin-bottom: 30px;
}

.profile__content {
  text-align: center;
}

.form__text {
  margin-right: 5px;
}

.form__link {
  background-color: transparent;
  border: transparent;
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

.form__input {
  display: flex;
  flex-direction: column;
}

.profile__input {
  align-items: center;
}

.form__input-container {
  display: flex; 
  margin-bottom: 5%;
}

.MuiFormControl-root {
  margin: 5% 0 !important;
  width: 100% !important;
}

.MuiInput-formControl {
  margin-bottom: 16px;
}

.input {
  margin-bottom: 20px;
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid grey;
  padding: 15px 5px;
  cursor: pointer;
  flex: 2;
}

.input:focus {
  outline: transparent;
}

.column {
  position: relative;
  border: 1px solid lightgrey;  
  margin: 2%;    
  padding: 5%; 
  box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12);
}

.mc-icon {
  position: absolute;
  top: 5%;
  right: 5%;
}

.mc-img {
  width: 32px;
}


.MuiMenu-list {
  display: block;
}

.errors {
  color: red;
  font-size: small;
  font-style: italic;
  margin-bottom: 5%;
}